<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>登录</h1>

        <div class="form-group">
            <label>用户名：</label>
            <input type="text" id="username" class="form-control" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label>密码：</label>
            <input type="password" id="password" class="form-control" placeholder="请输入密码">
        </div>

        <p><a href="/regiester">没有账号，请先注册 &gt;&gt;</a></p>

        <button class="btn btn-success btn-block" id="confirm">登录</button>
        <button class="btn btn-danger btn-block" id="cancel">取消</button>

    </div>


    <script src="/public/js/login.js"></script>

</body>
</html>