/*头部*/
.container {
    width: 1400px;
    margin: 0 auto;
}

#header_warrper {
    width: 100%;
    height: 90px;
    background: white;
    /*background: #DDDDDD;*/
}

#header_warrper .header {

    height: 90px;

}

.logo {
    background: url("../img/regit_03.png") no-repeat #666666;
    width: 136px;
    height: 24px;
    float: left;
    margin-top: 32px;

}

.logo a {
    display: block;
    width: 136px;
    height: 24px;
    text-indent: -9999px;
}

.nav_list {
    float: left;
    margin-left: 100px;

}

.nav_list li {
    float: left;
    padding: 0 25px;
}

.nav_list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 90px;
    color: white;
    font-size: 18px;
    color: #2e2f31;

}

.nav_list li a:hover {
    color: blue;
}

/*导航栏二级菜单*/
.nav-box {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 82px;
    z-index: 999;
    width: 100%;
    height: 190px;
    background-color: #fff;
    display: none;
}

.nav-phone {
    width: 1400px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.nav-phone a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #666;
    opacity: 0.7;

}

.nav-phone a:hover {
    transition: all 0.6s;
    color: #111;
    opacity: 1;
}

.nav-phone a img {
    display: inline-block;
    margin-top: 10px;
    width: 130px;
    height: 120px;
}

.nav-phone a p {
    display: block;
    font-size: 12px;
}

form {
    position: relative;
}

form input {
    width: 170px;
    height: 30px;
    border-radius: 15px;
    float: left;
    margin-top: 26px;
    line-height: 30px;
    padding: 0 8px;
    margin-left: 30px;
    box-sizing: border-box;

}

.fdj {
    width: 17px;
    height: 14px;
    background: url("../images/fdj.jpg") no-repeat;
    position: absolute;
    right: 134px;
    top: 33px;
}

.icon{
    float: left;
    position: relative;
}
.icon a .iconfont{
    font-size: 34px;
    position: relative;
    top: 11px;
    margin-left: 20px;


}
.icon .shop_count {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;


}
.login_list {
    background: white;
    height: 220px;
    width: 123px;
    position: absolute;
    top: 69px;
    left: -24px;
    display: none;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
}
.login_list li a {
    display: block;
    height: 45px;
    line-height: 45px;
}
.login_list .iconfont{
    font-size: 26px;
    position: absolute;
    top: -24px;
    left: 50px;
    color: white;
}
.login_list li a:hover {
    color: #00a0e9;
}

/*头部下第一块*/
#index_warrper {
    height: 80px;
    background: #f7f8fc;
}

.index_nav {
    height: 80px;
    background: #f7f8fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;

}

.index_list li a {
    display: block;
    font-size: 18px;
}

.meizu16 {
    font-size: 28px;
}

#content_warrper {
    height: 1216px;
    background: white;
}

.contain {
    height: 1216px;
    background: white;
    /*display: flex;*/
    /*justify-content: left;*/
    /*align-items: center;*/
}

/*轮播图*/
.c_left {
    float: left;
    width: 560px;
}

.swiper-container {
    width: 560px;
    height: 520px;
}

.swiper-slide {
    background-size: 100%;
    background-position: center;
}

.gallery-top {
    height: 520px;
    width: 500px;
}

.gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;

}

.gallery-thumbs .swiper-slide {
    width: 60px;
    height: 120px;

    opacity: 0.6;

}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.propety {
    float: left;
    width: 640px;
    font-size: 12px;
    margin-left: 20px;

}

.propety_hd {
    position: relative;
    padding-top: 30px;
    margin-bottom: 12px;
}

.propety_hd h2 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    color: #262626;
    margin-bottom: 4px;
}

.mod-active {
    color: #e22841;
    font-size: 14px;
}

.propety_sell {
    height: 122px;
    background: #f5f6fa;
    padding: 16px 5px 12px;
}

.price {
    color: #e02b41;
    line-height: 36px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.coupon {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.coupon span {
    display: block;
    width: 82px;
    height: 24px;
    background: #edecf1;
    color: #d62c46;
    display: flex;
    justify-content: center;
    align-items: center;

}

.coupon i {
    color: #d62c46;
}

.coupon a {
    color: #4bd3fd;
}

.add-price {
    width: 500px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.add-price span {
    display: inline-block;
    width: 82px;
    height: 24px;
    background: #edecf1;
    color: #d62c46;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-price i {
    margin-right: 30px;
}

.add-price a {
    color: #4bd3fd;
    margin-right: 35px;
}

.propety_service {
    padding-top: 20px;
}

.services-item {
    display: flex;
    width: 430px;
    justify-content: space-around;

}

.mod-bd {
    width: 320px;
    margin-left: 30px;
    margin-bottom: 25px;
}

.mod-bd span {
    margin-right: 40px;
}

.mod-bd span:last-child {
    margin-right: 0px;
}

.propety_peisong {
    margin: 10px 0 10px;
}

.propety_peisong span {
    margin-right: 18px;
}

.propety_peisong b {
    font-size: 16px;
    color: #8c8c8c;
}

.propety_peisong p {
    font-size: 14px;
    margin-left: 60px;
}

.propety_peisong p a {
    margin-left: 15px;
    color: #00c3f5;
}

.propety-sibling-item {
    overflow: hidden;
    width: 690px;
    margin-bottom: 30px;
}
.propety a{
    opacity: 0.8;
}
.propety .vm-metatit {
    float: left;
    padding-left: 10px;
    color: #8c8c8c;
    line-height: 42px;
    font-size: 14px;
    margin-right: 15px;
}

.propety dd {
    float: left;
    width: 565px;
    overflow: hidden;
}

.propety dd a {
    float: left;
    width: 176px;
    margin: 0 10px 6px 0;
    line-height: 40px;
    position: relative;
    border: 1px #bfbfbf solid;
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.propety_set img {
    width: 26px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

.propety .huabei a {
    display: block;
    line-height: 25px;

}

.propety .huabei a p {
    color: #8c8c8c;
    font-size: 12px;
}

.buy_count .mod-control {
    height: 40px;
    width: 122px;
    position: relative;
    overflow: hidden;
    margin-bottom: 17px;
}

.buy_count .mod-control #add {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e7e7e7;
    color: #000;
    background: #f7f7f7;
}

.mod-control input {
    position: absolute;
    top: 0;
    right: 30px;
    width: 60px;
    height: 38px;
    padding: 0;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #595959;
    border: 1px solid #dedede;
}

.mod-control .reduce {
    cursor: pointer;
    color: #e0e0e0;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e7e7e7;
    color: #000;
    background: #f7f7f7;
}
.buy_action{
    width:630px;
    margin-bottom: 17px;
    margin-left: 10px;
    display: flex;


}
.buy_action a{
    display: flex;
    width: 208px;
    font-size: 20px;
    line-height: 56px;
    justify-content: center;
    align-items: center;
    border: 1px #00c3f5 solid;
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
    background: blue;
}
.current{
    border: 1px #000000 solid;
    opacity: 1;
    background: #00c3f5;

}

